<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <h3>Yangi parol o'rnating</h3>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Yangi parol</label>
                <span class="helper-text" data-error="Yangi parolni kiriting"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <button class="btn btn-primary">Parolni yangilash</button>
        </form>
    </div>
</div>